@import "../../index.scss";

.TopUrls {
  width: 70%;
  max-width: 900px;

  h2 {
    @extend %secondary-title;
    margin: 20px 0;
  }

  ul {
    border: 1px solid $themeLighterAlt;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;

    &:nth-child(odd) {
      background-color: $themeLighterAlt;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }

    .longUrl {
      padding: 0 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
