@import "../../index.scss";

.TopUrls {
  width: calc(100% - 20px);
  @include media-large() {
    width: 70%;
    max-width: 900px;
  }

  h2 {
    @extend %secondary-title;
    margin: 20px 0;
  }

  ul {
    border: 1px solid $themeLighterAlt;
  }

  li {
    @extend %flex-collumn-centered;

    @include media-large() {
      flex-direction: row;
      justify-content: space-between;
    }

    padding: 15px;

    &:nth-child(odd) {
      background-color: $themeLighterAlt;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      white-space: nowrap;

      &.longUrl {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;

        @include media-large() {
          max-width: none;
          padding: 0 30px;
        }
      }
    }
  }
}
