$themePrimary:#548CA8;
$themeTertiary: #52ab98;
$themeSecondary: #d05c27;
$themeDarker:#173138;
$themeDarkerAlt: #334257;
$themeLighter: #c8d8e4;
$themeLighterAlt: #f2f2f2;
$themeWhite: #ffffff;
$danger: #b82525;
$sucess: #5D8233;

$rem-base: 16;

$breakpoint-x-small: 480px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;
$breakpoint-extra-extra-large: 1400px;
$breakpoint-desktop-fullhd: 1920px;