$themePrimary:#548CA8;
$themeTertiary: #52ab98;
$themeSecondary: #d05c27;
$themeDarker:#173138;
$themeDarkerAlt: #334257;
$themeLighter: #c8d8e4;
$themeLighterAlt: #f2f2f2;
$themeWhite: #ffffff;
$danger: #b82525;
$sucess: #5D8233;

$rem-base: 16;