@import "../../index.scss";

.UrlShortner {
  padding: 20px;
  margin: 40px;
  background: #c8d8e454;

  form {
    @extend %flex-row-centered;
    align-items: baseline;

    input {
      padding: 10px;
      border-radius: 2px;
      border: 1px solid $themeTertiary;
      width: 500px;
    }

    button {
      color: $themeWhite;
      background-color: $themeTertiary;
      font-weight: bold;
      padding: 10px;
      border-radius: 2px;
      border: none;
      cursor: pointer;

      width: 100px;
      margin-top: 0;
      margin-left: 10px;

      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
