@import "../../index.scss";

.UrlShortner {
  padding: 20px;
  margin: 40px;
  background: #c8d8e454;

  form {
    @extend %flex-collumn-centered;

    @include media-large() {
      flex-direction: row;
      align-items: baseline;
    }

    input {
      padding: 10px;
      border-radius: 2px;
      border: 1px solid $themeTertiary;
      width: 300px;

      @include media-large() {
        width: 500px;
      }
    }

    button {
      color: $themeWhite;
      background-color: $themeTertiary;
      font-weight: bold;
      padding: 10px;
      border-radius: 2px;
      border: none;
      cursor: pointer;

      margin-top: 10px;
      width: 100%;

      @include media-large() {
        width: 100px;
        margin-top: 0;
        margin-left: 10px;
      }

      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
