@import "../../index.scss";

.Header {
  @extend %flex-collumn-centered;

  h1 {
    color: $themePrimary;
    font-size: toRem(50);
    font-weight: bold;
    margin: 20px 0;
  }

  p {
    color: $themeSecondary;
    font-size: toRem(16);
    font-weight: bold;
  }
}
