@import "./styles/variables";
@import "./styles/functions";
@import "./styles/mixins";
@import "./styles/global";
@import "./styles/placeholders";

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  background-color: $themeWhite;
}